
a{
    text-decoration: none;
    color: rgb(149, 149, 221);
}

input{
    color: rgb(87, 87, 87);
    padding-left: 10px;
}

.row-1{
    margin-left: 25px;
}

@media (min-width: 300px){

    .pai{
        margin-right: -10px;
        margin-bottom: 80px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
        column-gap: 10px;
    }

    .e{
        margin-left: -20px;
    }
    


    header{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        height: 100px;
    }

    header h1{
        margin-top: 10px;
        margin-left: 10px;
        padding-right: 20px;
    }


    .e{
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 80px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
     
    }

    .container-azul{
        text-align: center;
        background-color: rgb(182, 182, 223);
        width: 85%;
        color: rgb(0, 0, 138);
        margin: 1%;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid rgb(95, 95, 255);
        border-radius: 7px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .container-azul p{
        text-align: center;
        margin-top: 10px;
    }

    .row-1 img{
        width: 60px;
        height: 60px;
        margin-top: 35px;
    }

    .row-1 h1{
        margin-top: -55px; 
        font-size: 25px;
        display: flex;
        flex-direction: row;
        margin-left: 70px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row-1 p{
        margin-top: -30px; 
        margin-left: 70px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row-1 button{
        margin-left: 70px;
        background-color: rgb(255, 255, 255);
        border: none;
        color: rgb(64, 165, 64);
        font-weight: 600;
    }

    .container-resume{
        max-width: 95%;
        border: 1px rgb(228, 228, 228) solid;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .resume-content{
        margin-left: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container-resume button{
        background-color: rgb(49, 165, 78);
        width: 140px;
        height: 40px;
        border-radius: 10px;
        border: none;
        color: white;
        font-weight: 600;
    }

    .container-resume button:hover{
        background-color: rgb(48, 122, 67);

    }

    .main-1{
        border:1px solid rgb(231, 231, 231) ;
        height: 110%;
        margin-bottom: 40px;
        border-radius: 10px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .parte1{
        margin: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .parte1 input{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .parte1 input:focus{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83) solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    .cont-main-2{
        margin: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .parte2 input{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .parte2 input:focus{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83)  solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    .main-2{
        font-family: Arial, Helvetica, sans-serif;

    }

    .container-2{
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        border: 1px solid rgb(230, 230, 230);
    }

    .cont2{
        margin: 20px;
        font-size: 15px;
    }

    .cont2 .txt{
        width: 97%;
        margin-top: 10px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .cont2 .txt:focus{
        width: 97%;
        margin-top: 10px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83)  solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    ::placeholder{
        padding-left: 10px;
    }

    .check{
        margin-top: 15px;
    }

    span{
        font-style: italic;
        color: rgb(124, 124, 124);
    }

    .save{
        height: 35px;
        border: none;
        width: 100px;
        outline: 0;
        border-radius: 7px;
        background-color: rgb(236, 236, 236);
        font-size: 16px
    }

    .save:hover{
        height: 35px;
        border: none;
        width: 100px;
        outline: 0;
        border-radius: 7px;
        background-color: rgb(218, 218, 218);
        font-size: 16px
    }


    .submit{
        width: 160px;
        background-color: rgb(36, 187, 94);
        border: none;
        border-radius: 7px;
        color: white;
        height: 35px;
        font-size: 17px;
    }

    .submit:hover{
        width: 160px;
        background-color: rgb(50, 163, 94);
        border: none;
        border-radius: 7px;
        color: white;
        height: 35px;
        font-size: 17px;
    }

    .enviar{
        margin-top: 20px;
        margin-right: 2%;
        text-align: end;
        display: flex;
        justify-content: end;
        flex-direction: row;
        column-gap: 5px;
    }



}

@media (min-width: 640px){

    .pai{
        margin-right: -10px;
        margin-bottom: 80px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
        column-gap: 10px;
    }

    .e{
        margin-left: -20px;
    }
    


    header{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        height: 100px;
    }

    header h1{
        margin-top: 10px;
        margin-left: 10px;
        padding-right: 20px;
    }


    .e{
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 80px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
     
    }

    .container-azul{
        text-align: center;
        background-color: rgb(182, 182, 223);
        width: 85%;
        color: rgb(0, 0, 138);
        margin: 1%;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid rgb(95, 95, 255);
        border-radius: 7px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .container-azul p{
        text-align: center;
        margin-top: 10px;
    }

    .row-1 img{
        width: 60px;
        height: 60px;
        margin-top: 35px;
    }

    .row-1 h1{
        margin-top: -55px; 
        font-size: 25px;
        display: flex;
        flex-direction: row;
        margin-left: 70px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row-1 p{
        margin-top: -30px; 
        margin-left: 70px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row-1 button{
        margin-left: 70px;
        background-color: rgb(255, 255, 255);
        border: none;
        color: rgb(64, 165, 64);
        font-weight: 600;
    }

    .container-resume{
        max-width: 95%;
        border: 1px rgb(228, 228, 228) solid;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .resume-content{
        margin-left: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container-resume button{
        background-color: rgb(49, 165, 78);
        width: 140px;
        height: 40px;
        border-radius: 10px;
        border: none;
        color: white;
        font-weight: 600;
    }

    .container-resume button:hover{
        background-color: rgb(48, 122, 67);

    }

    .main-1{
        border:1px solid rgb(231, 231, 231) ;
        height: 110%;
        margin-bottom: 40px;
        border-radius: 10px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .parte1{
        margin: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .parte1 input{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .parte1 input:focus{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83) solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    .cont-main-2{
        margin: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .parte2 input{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .parte2 input:focus{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83)  solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    .main-2{
        font-family: Arial, Helvetica, sans-serif;

    }

    .container-2{
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        border: 1px solid rgb(230, 230, 230);
    }

    .cont2{
        margin: 20px;
        font-size: 15px;
    }

    .cont2 .txt{
        width: 97%;
        margin-top: 10px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .cont2 .txt:focus{
        width: 97%;
        margin-top: 10px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83)  solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    ::placeholder{
        padding-left: 10px;
    }

    .check{
        margin-top: 15px;
    }

    span{
        font-style: italic;
        color: rgb(124, 124, 124);
    }

    .save{
        height: 35px;
        border: none;
        width: 100px;
        outline: 0;
        border-radius: 7px;
        background-color: rgb(236, 236, 236);
        font-size: 16px
    }

    .save:hover{
        height: 35px;
        border: none;
        width: 100px;
        outline: 0;
        border-radius: 7px;
        background-color: rgb(218, 218, 218);
        font-size: 16px
    }


    .submit{
        width: 160px;
        background-color: rgb(36, 187, 94);
        border: none;
        border-radius: 7px;
        color: white;
        height: 35px;
        font-size: 17px;
    }

    .submit:hover{
        width: 160px;
        background-color: rgb(50, 163, 94);
        border: none;
        border-radius: 7px;
        color: white;
        height: 35px;
        font-size: 17px;
    }

    .enviar{
        margin-top: 20px;
        margin-right: 2%;
        text-align: end;
        display: flex;
        justify-content: end;
        flex-direction: row;
        column-gap: 5px;
    }



}

@media (min-width: 768px){

    body{
        margin-left: 10%;
        margin-right:10%;
        margin-bottom:5%
    }

    .pai{
        margin-right: -10px;
        margin-bottom: 80px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
        column-gap: 10px;
    }

    .e{
        margin-left: -20px;
    }
    


    header{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        height: 100px;
    }

    header h1{
        margin-top: 10px;
        margin-left: 10px;
        padding-right: 20px;
    }


    .e{
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 80px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
     
    }

    .container-azul{
        text-align: center;
        background-color: rgb(182, 182, 223);
        width: 92%;
        color: rgb(0, 0, 138);
        margin: 1%;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid rgb(95, 95, 255);
        border-radius: 7px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .container-azul p{
        text-align: center;
        margin-top: 10px;
    }

    .row-1{
        margin-left: 25px;
    }

    .row-1 img{
        width: 60px;
        height: 60px;
        margin-top: 35px;
    }

    .row-1 h1{
        margin-top: -55px; 
        font-size: 25px;
        display: flex;
        flex-direction: row;
        margin-left: 70px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row-1 p{
        margin-top: -30px; 
        margin-left: 70px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row-1 button{
        margin-left: 70px;
        background-color: rgb(255, 255, 255);
        border: none;
        color: rgb(64, 165, 64);
        font-weight: 600;
    }

    .container-resume{
        max-width: 95%;
        border: 1px rgb(228, 228, 228) solid;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .resume-content{
        margin-left: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container-resume button{
        background-color: rgb(49, 165, 78);
        width: 140px;
        height: 40px;
        border-radius: 10px;
        border: none;
        color: white;
        font-weight: 600;
    }

    .container-resume button:hover{
        background-color: rgb(48, 122, 67);

    }

    .main-1{
        border:1px solid rgb(231, 231, 231) ;
        height: 110%;
        margin-bottom: 40px;
        border-radius: 10px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .parte1{
        display: grid;
        grid-template-columns: 47% 47%;
        column-gap: 20px;
        margin: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .parte1 input{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .parte1 input:focus{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83) solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    .cont-main-2{
        margin: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .parte2 input{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .parte2 input:focus{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83)  solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    .main-2{
        font-family: Arial, Helvetica, sans-serif;

    }

    .container-2{
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        border: 1px solid rgb(230, 230, 230);
    }

    .cont2{
        margin: 20px;
        font-size: 15px;
    }

    .cont2 .txt{
        width: 97%;
        margin-top: 10px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .cont2 .txt:focus{
        width: 97%;
        margin-top: 10px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83)  solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    ::placeholder{
        padding-left: 10px;
    }

    .check{
        margin-top: 15px;
    }

    span{
        font-style: italic;
        color: rgb(124, 124, 124);
    }

    .save{
        height: 35px;
        border: none;
        width: 100px;
        outline: 0;
        border-radius: 7px;
        background-color: rgb(236, 236, 236);
        font-size: 16px
    }

    .save:hover{
        height: 35px;
        border: none;
        width: 100px;
        outline: 0;
        border-radius: 7px;
        background-color: rgb(218, 218, 218);
        font-size: 16px
    }


    .submit{
        width: 160px;
        background-color: rgb(36, 187, 94);
        border: none;
        border-radius: 7px;
        color: white;
        height: 35px;
        font-size: 17px;
    }

    .submit:hover{
        width: 160px;
        background-color: rgb(50, 163, 94);
        border: none;
        border-radius: 7px;
        color: white;
        height: 35px;
        font-size: 17px;
    }

    .enviar{
        margin-top: 20px;
        margin-right: 2%;
        text-align: end;
        display: flex;
        justify-content: end;
        flex-direction: row;
        column-gap: 5px;
    }



}

@media (min-width: 1024px){

    
    body{
        margin-left: 10%;
        margin-right:10%;
        margin-bottom:5%
    }

    .pai{
        margin-right: -10px;
        margin-bottom: 80px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
        column-gap: 10px;
    }

    .e{
        margin-left: -20px;
    }
    


    header{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        height: 100px;
    }

    header h1{
        margin-top: 10px;
        margin-left: 10px;
        padding-right: 20px;
    }


    .e{
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 80px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
     
    }

    .container-azul{
        text-align: center;
        background-color: rgb(182, 182, 223);
        width: 93%;
        color: rgb(0, 0, 138);
        margin: 1%;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid rgb(95, 95, 255);
        border-radius: 7px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .container-azul p{
        text-align: center;
        margin-top: 10px;
    }

    .row-1{
        margin-left: 25px;
    }

    .row-1 img{
        width: 60px;
        height: 60px;
        margin-top: 35px;
    }

    .row-1 h1{
        margin-top: -55px; 
        font-size: 25px;
        display: flex;
        flex-direction: row;
        margin-left: 70px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row-1 p{
        margin-top: -30px; 
        margin-left: 70px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row-1 button{
        margin-left: 70px;
        background-color: rgb(255, 255, 255);
        border: none;
        color: rgb(64, 165, 64);
        font-weight: 600;
    }

    .container-resume{
        max-width: 95%;
        border: 1px rgb(228, 228, 228) solid;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .resume-content{
        margin-left: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container-resume button{
        background-color: rgb(49, 165, 78);
        width: 140px;
        height: 40px;
        border-radius: 10px;
        border: none;
        color: white;
        font-weight: 600;
    }

    .container-resume button:hover{
        background-color: rgb(48, 122, 67);

    }

    .main-1{
        border:1px solid rgb(231, 231, 231) ;
        height: 110%;
        margin-bottom: 40px;
        border-radius: 10px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .parte1{
        display: grid;
        grid-template-columns: 47% 47%;
        column-gap: 20px;
        margin: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .parte1 input{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .parte1 input:focus{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83) solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    .cont-main-2{
        margin: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .parte2 input{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .parte2 input:focus{
        width: 97%;
        margin-top: 5px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83)  solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    .main-2{
        font-family: Arial, Helvetica, sans-serif;

    }

    .container-2{
        margin-left: 2%;
        margin-right: 2%;
        border-radius: 10px;
        border: 1px solid rgb(230, 230, 230);
    }

    .cont2{
        margin: 20px;
        font-size: 15px;
    }

    .cont2 .txt{
        width: 97%;
        margin-top: 10px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(221, 221, 221) solid;
        outline: 0;
    }

    .cont2 .txt:focus{
        width: 97%;
        margin-top: 10px;
        margin-bottom: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px rgb(0, 185, 83)  solid;
        outline: 0;
        transition: ease-in 130ms;
    }

    ::placeholder{
        padding-left: 10px;
    }

    .check{
        margin-top: 15px;
    }

    span{
        font-style: italic;
        color: rgb(124, 124, 124);
    }

    .save{
        height: 35px;
        border: none;
        width: 100px;
        outline: 0;
        border-radius: 7px;
        background-color: rgb(236, 236, 236);
        font-size: 16px
    }

    .save:hover{
        height: 35px;
        border: none;
        width: 100px;
        outline: 0;
        border-radius: 7px;
        background-color: rgb(218, 218, 218);
        font-size: 16px
    }


    .submit{
        width: 160px;
        background-color: rgb(36, 187, 94);
        border: none;
        border-radius: 7px;
        color: white;
        height: 35px;
        font-size: 17px;
    }

    .submit:hover{
        width: 160px;
        background-color: rgb(50, 163, 94);
        border: none;
        border-radius: 7px;
        color: white;
        height: 35px;
        font-size: 17px;
    }

    .enviar{
        margin-top: 20px;
        margin-right: 2%;
        text-align: end;
        display: flex;
        justify-content: end;
        flex-direction: row;
        column-gap: 5px;
    }



}